
/* semua */
/* * {
  margin: 0px;
  padding: 0px;
} */

/* Untuk scrol klik navbar smooth */
html {
  scroll-behavior: smooth;
}

body {
  margin-bottom: 0px;
  padding: 0px;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  height: 100%;
}

/* Awal Menu Navbar  */
.menu {
  float: right;

}

nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  top: 0;
  background: #FFFFFF;
  z-index: 1;
  border-bottom: 1px solid #364f6b;
}

.wrapper {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  margin: auto;
  position: relative;
  background: rgb(16, 197, 230);
}

    /* Logo */
    .logo  {
      font-size: 50px;
      font-weight: 800;
      float: left;
      font-family: courier;
    }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

/* tampilan menu baris */
nav ul li {
  float: left;
}


/* tulisan di menu */
nav ul li a {
  color: black;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
  font-size: 23px;
  font: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

    /* kotak login daftar*/
    .login-box {
      width: 340px;
      height: 440px;
      margin-top: 50px;
      background: cyan;
      color: black;
      top: 50%;
      left: 50%;
      position: absolute;
      box-sizing: border-box;
      padding: 70px;
      transform: translate(-50%, -50%);
    }

    /* logo login daftar */
    .avatar {
      height: 110px;
      weight: 110px;
      border-radius: 50%;
      position: absolute;
      top: -50px;
      left: calc(50% - 50px);
    }

section {
  margin: auto;
  padding: 0;
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.kolom {
  background-color: cyan;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-left: 40px;
  padding-right: 20px;
}

.kolom .deskripsi {
  font-size: 20px;
  font-weight: bold;
  font-family: 'comic sans ms';
  color: black;
}

h2 {
  font-family: 'comic sans ms';
  font-weight: 800;
  font-size: 45px;
  margin-bottom: 20px;
  color: black;
  width: 100%;
  line-height: 50px;
}

a.tbl-biru {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background: #fc5185;
  text-decoration: none;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 10px 10px 0px;
}

.tengah {
  text-align: center;
  width: 100%;
}


.list {
  font-size: 20px;
  font-size: bold;
  font-style: helvetica;
}

.tutor-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.kartu-tutor {
  width: 20%;
  margin: 0 auto;
}

.kartu-tutor img {
  width: 650%;
  border-radius: 50%;
}

.kartu-tutor p {
  font-family: 'comic sans ms';
  font-weight: 800;
  font-size: 25px;
  text-align: center;
  color: #364f6b;
}

.partner-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.kartu-partner {
  width: 20%;
  margin: 0 auto;
}

.kartu-partner img {
  width: 150px;
  border-radius: 50%;
}

      /* kontak kami */
      #contact {
        background: #dedede;
        padding: 50px 0px 50px 0px;
      }

      .footer1 {
        width: 100%;
        margin: auto;
        position: relative;
      }

      .footer2 {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
      }

      .footer-section {
        width: 20%;
        margin: 0 auto;
      }

      h3 {
        font-family: 'comic sans ms';
        font-weight: 800;
        font-size: 30px;
        margin-bottom: 20px;
        color: #364f6b;
        width: 100%;
        line-height: 50px;
      }
      /* akhir kontak kami */

/* copyright */
#copyright {
  text-align: center;
  font-size: 20px ;
  width: 100%;
  padding: 10px 0px 10px 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: cornflowerblue;
}



/* awal galeri */
.container {
  width: 100%;
  padding: 0 5px 0 30px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* margin: 5px 15px; */
  gap: 20px;
  position: relative;
}

.card {
  width: 100%;
  height: auto;
  grid-column: span 8;
  margin: 5px 0;
  border-radius: 15px;
  position: relative;
  box-shadow: 10px 10px 10px 0  rgba(0, 0, 0, .1);

}

.card1 {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.head-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.body-card {
  padding: 10px 15px;
}

.body-card h1 {
  margin: 0;

}

.body-card svg {
  width: 31px;
  position: absolute;
  bottom: 7px;
  right: 20px;
}
@media screen and (min-width: 550px) {
  .card {
    grid-column: span 4;
  }
}

@media screen and (min-width: 760px) {
  .card {
    width: 350px;
    margin: 0 10px;
  }
}

@media screen and (min-width: 560px) {}
/* akhir galeri */


/* awal paket */
    @media screen and (max-width: 991.98px) {
      .wrapper {
        width: 90%;
      }

      .logo a {
        display: block;
        width: 100%;
        text-align: center;
      }

      nav .menu {
        width: 100%;
        margin: 0;
      }

      nav .menu ul {
        text-align: center;
        margin: auto;
        line-height: 60px;
      }

      nav .menu ul li {
        display: inline-block;
        float: none;
      }

      section {
        display: block;
      }

      section img {
        display: block;
        width: 100%;
        height: auto;
      }

      .kartu-tutor {
        width: 50%;
      }

      .kartu-partner {
        width: 50%;
      }
    }


    .body-paket {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      padding: 20px;
      background: #647df9;
    }

    .semua-paket {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    .wrapper-paket {
      width: 100%;
      padding-left: 100px;
      padding-right: 100px;
      margin: auto;
      position: relative;
      background: rgb(16, 197, 230);
    }

    .wrapper .table {
      background: #fff;
      width: calc(33% - 20px);
      padding: 30px 30px;
      position: relative;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }

    .table .price-section {
      display: flex;
      justify-content: center;
    }

    .table .price-area {
      height: 120px;
      width: 120px;
      border-radius: 50%;
      padding: 2px;
    }

    .price-area .inner-area {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: 3px solid #fff;
      line-height: 117px;
      text-align: center;
      color: #fff;
      position: relative;
    }

    .price-area .inner-area .text {
      font-size: 25px;
      font-weight: 400;
      position: absolute;
      top: -10px;
      left: 17px;
    }

    .price-area .inner-area .price {
      font-size: 45px;
      font-weight: 500;
      margin-left: 16px;
    }

    .table .package-name {
      width: 100%;
      height: 2px;
      margin: 35px 0;
      position: relative;
    }

    .table .package-name::before {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 25px;
      font-weight: 500;
      background: #fff;
      padding: 0 15px;
      transform: translate(-50%, -50%);
    }

    .table .features li {
      margin-bottom: 15px;
      list-style: none;
      display: flex;
      justify-content: space-between;
    }

    .features li .list-name {
      font-size: 17px;
      font-weight: 400;
    }

    .features li .icon {
      font-size: 15px;
    }

    .features li .icon.check {
      color: #2db94d;
    }

    .features li .icon.cross {
      color: #cd3241;
    }

    .table .btn {
      width: 100%;
      display: flex;
      margin-top: 35px;
      justify-content: center;
    }

    .table .btn button {
      width: 80%;
      height: 50px;
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      border: none;
      outline: none;
      border-radius: 25px;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    .table .btn button:hover {
      border-radius: 5px;
    }

    .basic .features li::selection {
      background: #ffd861;
    }

    .basic ::selection,
    .basic .price-area,
    .basic .inner-area {
      background: #ffd861;
    }

    .basic .btn button {
      border: 2px solid #ffd861;
      background: #fff;
      color: #ffd861;
    }

    .basic .btn button:hover {
      background: #ffd861;
      color: #fff;
    }

    /* .premium ::selection,
    .premium .price-area, */
    .premium .inner-area,
    .premium .btn button {
      background: #a26bfa;
    }

    .premium .btn button:hover {
      background: #833af8;
    }

    .ultimate ::selection,
    .ultimate .price-area,
    .ultimate .inner-area {
      background: #43ef8b;
    }

    .ultimate .btn button {
      border: 2px solid #43ef8b;
      color: #43ef8b;
      background: #fff;
    }

    .ultimate .btn button:hover {
      background: #43ef8b;
      color: #fff;
    }

    .basic .package-name {
      background: #ffecb3;
    }

    .premium .package-name {
      background: #d0b3ff;
    }

    .ultimate .package-name {
      background: #baf8d4;
    }

    .basic .package-name::before {
      content: "Basic";
    }

    .premium .package-name::before {
      content: "Premium";
      font-size: 24px;
    }

    .ultimate .package-name::before {
      content: "Ultimate";
      font-size: 24px;
    }

    @media (max-width: 1020px) {
      .wrapper .table {
        width: calc(50% - 20px);
        margin-bottom: 40px;
      }
    }

    @media (max-width: 698px) {
      .wrapper .table {
        width: 100%;
      }
    }

    ::selection {
      color: #fff;
    }

    .table .ribbon {
      width: 150px;
      height: 150px;
      position: absolute;
      top: -10px;
      left: -10px;
      overflow: hidden;
    }

    .table .ribbon::before,
    .table .ribbon::after {
      position: absolute;
      content: "";
      z-index: -1;
      display: block;
      border: 7px solid #4606ac;
      border-top-color: transparent;
      border-left-color: transparent;
    }

    .table .ribbon::before {
      top: 0px;
      right: 15px;
    }

    .table .ribbon::after {
      bottom: 15px;
      left: 0px;
    }

    .table .ribbon span {
      position: absolute;
      top: 30px;
      right: 0;
      transform: rotate(-45deg);
      width: 200px;
      background: #a26bfa;
      padding: 10px 0;
      color: #fff;
      text-align: center;
      font-size: 17px;
      text-transform: uppercase;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    }

    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
    /* akhir paket */
